@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  background: #b0defd ;
}

.ripple-wrap {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #7b002c;
  }
  
  41% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #7b002c;
  }
  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left:-2500px;
    border-color: #7b002c;
  }
}
@keyframes RIPPLER {
  0%   { border-width: 0; }
  40% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #7b002c;
  }
  41% { 
    height: 0;
    width: 0;
    border-width: 1500px;
    margin-top: -1500px;
    margin-left:-1500px; 
    border-color: #7b002c;
  }
  100% {
    border-width: 1500px;
    height: 2000px;
    width: 2000px;
    margin-top: -2500px;
    margin-left:-2500px;
    border-color: #7b002c;
  }
}
.ripple {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #7b002c;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap.goripple {
  display: block;
}
.ripple-wrap.goripple .ripple {
 -webkit-animation-name: RIPPLER;
 -webkit-animation-duration: 1.5s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER;
 animation-duration: 1.5s;
 animation-fill-mode: forwards;

}



/* This bit is just to look pretty. Not relevant to the implementation */

body {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #D7EEEC;
}
a {
  color: #004d40;
  font-weight: bold;
}

.wrap {
  margin: 48px auto;
  max-width: 580px;
  text-align: justify;
}
h1, h2 {
  font-weight: lighter;
}


/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
.container {
  position: relative;
  width: 500px;
  height: 300px;
  display: inline-block;
}

.image {
  position: relative;
  display: block;
  object-fit: cover;
  width: 500px;
  height: 300px;
}
.text {
  object-fit: cover;
  color: white;
  font-size: 35px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  
}
.text:hover{
  text-decoration:underline;
}
.overlay {
  position: absolute;
  opacity: 0;
  transition:all .35s ease-in-out;
  background-color: #7b002c;
}
.container:hover .overlay,.container:hover .overlayFade {
  opacity: 0.8;
}

.overlayLeft{
  height: 100%;
  width:0;
  top:0;
  left:0;
  background-color: #7b002c;   
}
.overlayRight{
  height: 100%;
  width: 0;
  top:0;
  right:0;
  background-color: #7b002c;
}
.container:hover .overlayLeft ,.container:hover .overlayRight {
  width: 100%;
  
}

.hoveringContainer:nth-child(odd) {
  height: 300px;
  width: 400px;
  width: fit-content;
  margin: 2em 25% 2em 2em;
  /* border: 2px red solid; */
  border-radius: 10px;
  overflow: hidden;
}

.hoveringContainer:nth-child(even) {
  height: 300px;
  width: 500px;
  width: fit-content;
  margin: 2em 2em 2em 25%;
  /* border: 2px blue solid; */
  border-radius: 10px;
  overflow: hidden;
}

.hoveringContainer a{
  color: white;
}
/*flexbox*/
