body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ecebe4;
  text-decoration: none;
}
p {
  color: black;
  text-decoration: none;
}

/*####################################################################################################*/
/*now from now on it is the code of the hover mechanism*/

/* since 11/14/2021 it is empty and will never return */

/*####################################################################################################*/
/*from this point on this is the navigation bar*/
li,
a,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}
.Header {
  font-size: xx-large;
}
.Header:hover {
  text-decoration: underline;
}

/* Article Organization starts here */

.article_organization div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdf {
  width: 50%;
  height: 700px;
}

/* Footer  */
.note {
  padding: 1px 70px;
}
footer {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-top: auto;
}

.socials {
  list-style: none;
}
.github .linkedin {
  font-style: italic;
}
.socials li {
  display: inline-block;
}
.socials li a {
  transition: all 0.3s ease 0s;
  color: black;
}
.socials li a:hover {
  color: #ff0000;
  text-decoration: underline;
}
/* Footer End */









.topDescription{
    display: flex;
    justify-content: center;
    align-items: center;

}
.toplink{
  display: flex;
  justify-content:end;
  align-items:flex-end;

}
.toplink{
    color: #ff0000;
    text-decoration: underline;
}




















































iframe{
position: relative;
top: auto;
left: auto;
width: 100%;
height: 600px;

}


































.accordion {
    background-color: rgba(255, 255, 255, 0.299);
    border: 1px solid rgba(255, 255, 255, 0.395);
    width: 70%;
    padding: 0 10px;
    margin: 0 auto;
    list-style: none outside;
  }
  
  .accordion > * + * { border-top: 1px solid white; }
  
  .accordion-item-hd {
    display:flex;
    padding: 12px;
    position: relative;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    height: 80px;
    justify-content:flex-start;
    align-items: center;
  }




  
  .accordion-item-input:checked ~ .accordion-item-bd {
    max-height: 1000px;
    padding-top: 15px;
    margin-bottom: 15px;
    -webkit-transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
    transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  }
  
  .accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  
  .accordion-item-hd-cta {
    display: block;
    width: 30px;
    position: absolute;
    top: calc(50% - 6px );
    /*minus half font-size*/
    right: 0;
    pointer-events: none;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }



  .accordion-item-bd {
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
    transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  }
  
  .accordion-item-input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    position: absolute;
    left: -9999px;
  }