
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b0defd;
    text-decoration: none;

}
p{
    color:black;
    text-decoration: none;
}
.header{
    text-decoration: none;
    background-color: #fffe71;
}

.logo{
    font-family: sans-serif;
    text-decoration: none;
}
.logo:hover{
    text-decoration: underline;
}
.myimg {
    object-fit: cover;
    width:230px;
    height:230px;
  }
.extraflowers {
    border: black;
    object-fit: cover;
    width:300px;
    height: 400px;
  }

  .image{
      
      width: 230px;
      height: 230px;
  }
  .myimg1{
      display: block;
      width: 100%;

  }
  /*####################################################################################################*/
  /*now from now on it is the code of the hover mechanism*/

/* since 11/14/2021 it is empty and will never return */


/*####################################################################################################*/
/*from this point on this is the navigation bar*/
li, a, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16;
    color:black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: pointer;
    margin:auto;

}

.flowerstext{
    width: 1000px;
}




/* THis is the special button */

/* 
button{
    margin-left: 12px;
    padding: 9px 25px;
    background-color: rgba(0,7,100,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}
button:hover{
    background-color: rgba(0,7,100,.6);
    color: #fffe71;
} */

/*The navigation bar ends here*/
/*####################################################################################################*/

.note{
    padding: 1px 70px;
}