
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b0defd;
    text-decoration: none;

}
p{
    color:black;
    text-decoration: none;
}
.header{
    text-decoration: none;
    background-color: #fffe71;
}

.logo{
    font-family: sans-serif;
    text-decoration: none;
}
.logo:hover{
    text-decoration: underline;
}
.myimg {
    object-fit: cover;
    width:230px;
    height:230px;
  }
.extraflowers {
    border: black;
    object-fit: cover;
    width:300px;
    height: 400px;
  }

  .image{
      
      width: 230px;
      height: 230px;
  }
  .myimg1{
      display: block;
      width: 100%;

  }
  /*####################################################################################################*/
  /*now from now on it is the code of the hover mechanism*/

/* since 11/14/2021 it is empty and will never return */


/*####################################################################################################*/
/*from this point on this is the navigation bar*/
li, a, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16;
    color:black;
    text-decoration: none;
}

.flowerstext{
    width: 1000px;
}

header{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px 10%;
}
.Header{
    font-size:xx-large;
}
.Header:hover{
text-decoration: underline;
}
.note{
    padding: 1px 70px;
}